@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #4e37b1 1.84%, #00072e 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #1b19b6 -13.86%, #050031 99.55%);
  
  --color-bg: #f5f2ff;
  --color-footer : #3c2cca;
  --color-blog: #563bbb;
  --color-text: #001224;
  --color-subtext: #000018;
}
